.surveycard {
  display: flex;
  gap: 20px;
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.surveyscontainer {
  display: flex;
  flex-wrap: wrap;
}

// .surveyImg {
//   height: 10px;
// }
