.container {
  margin: 15px 20px;
}

.previewTop {
  line-height: 16px;
  color: rgb(218, 218, 218);
}

.previewTop p {
  font-size: medium;
}

.previewTop h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.midContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
